

<h5 class="titre">Espace commun:</h5>
<menu type="toolbar">
    <button class="button" >Depot/Doc</button>
    <button class="button" >Plaintes</button>
     <button class="button" >Agenda</button>
</menu>
<hr/>
<div class="content"><img src="/assets/planFormation.jpeg" alt="img"></div>

<label htmlFor="cours">mon cours
  <select id="cours" name="algo" value="algo">
    <option value="uml">algo</option>
    <option value="blazor">c#</option>
    <option value="angular">sql</option>
  </select>
  </label>
  <input title="file" name="myFile" id="_myFile" accept="image/*, .pdf, .jpg" class="my-file" multiple/>Aucun fichier séléctionné