<p>student-Add Form!</p>

<fieldset>
    <legend>Enregistrement</legend>
    <p>
        <label>Login: </label>
        <input type="text" placeholder="login" [(ngModel)]="login">
    </p>
    <p>
        <label>Email: </label> 
        <input type="text" placeholder="email" [(ngModel)]="email">
    </p>
    <p>
        <label>MotDePasse: </label>
        <input type="text" placeholder="motDePasse" [(ngModel)]="motDePasse">
    </p>
    
    <button type="button" (click)="addStudent()">Enregistrer</button> 
    
</fieldset>
<router-outlet></router-outlet>