
button {
  width: 60px; 
  height: 25px;
    align-items: center;
    border-radius: 5px; 
    background-color: lemonchiffon; 
    color: #b01010; 
    padding: 1px 3px; 
    //border: none; 
    cursor:pointer; 
    border-color: lightblue;
    font-size: small;
  }
  #logout {
    height: 25px;
    margin-left: -16%;
    margin-top: 20px;
  }
  
.flex-container {
    
    background-color: rgb(146, 54, 54);
    display: flex; 
    h2{font-size: 150%;
        text-align: center;
        position: fixed;
        padding-left: 11%;
        margin-top:0;
    }
    h4{font-size:120%;
        padding-left: 90%;
    }       
   } // }rgb(112, 83, 83)
.nav {
    background-color: rgb(146, 54, 54);
    top:0;
}
.header {
    
    position: fixed; 
    
    width: 100%; 
    background-color: rgb(146, 54, 54); 
    padding: 10px;
  }
  #titreMenu {font-size: x-large;}

  .menu {
    
    position: fixed; /* Fixe le menu */
    left: 0; /* Place le menu à gauche de la fenêtre du navigateur */
    top: 0; /* Place le menu en haut de la fenêtre du navigateur */
    width: 100px; /* Largeur du menu */
    height: 100%; /* Hauteur du menu (100% de la fenêtre) */
    background-color:rgb(146, 54, 54); /* Couleur de fond du menu */
    color: #251b1b; /* Couleur du texte du menu */
    padding: 20px; /* Espace intérieur du menu */
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2); /* Ombre pour ajouter une séparation */
  }
  
  .menu ul {
    list-style-type: none; /* Supprime les puces de liste */
    padding: 0;
  }
  
  .menu ul li {
    margin-bottom: 10px; /* Marge entre les éléments de la liste */
  }
  
  .menu a {
    text-decoration: none; /* Supprime les soulignements des liens */
    color: #fff; /* Couleur du texte des liens */
    display: block; /* Affiche les liens comme des blocs pour occuper toute la largeur */
  }

  .notConnected {
    -webkit-text-fill-color: chartreuse;// rgb(237, 20, 20);
  
  }

  .isConnected {
    -webkit-text-fill-color: rgb(59, 96, 218);
  }

  h2 {
    padding-top: 15px;
    font-size: large;
    //color: #FFFFFF;
    //background: #232323;
    //text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ff1818, 0 0 30px #ff7418, 0 0 40px #ffd118, 0 0 55px #b4f5a2, 0 0 75px #eff5ed;
    //color: #FFFFFF;
    //background: #232323;
    color: orangered;
  }

  h4 {
    padding-bottom: 15px;
    font-size: large;
    //color: #FFFFFF;
    //background: #232323;
    //text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ff1818, 0 0 30px #ff7418, 0 0 40px #ffd118, 0 0 55px #b4f5a2, 0 0 75px #eff5ed;
    //color: #FFFFFF;
  }