.titre {
    text-align: center; /* Centre horizontalement */
            position: absolute;
            top: 50%; /* Centre verticalement */
            left: 53%; /* Centre horizontalement */
            transform: translate(-50%, -50%); /* Centrage précis */
}

button {
  width: 80px; 
  height: 30px;
    border-radius: 5px; 
    background-color: lemonchiffon; 
    color: #b01010; 
    padding: 3px 3px; 
    //border: none; 
    cursor:pointer; 
    border-color: lightblue;
    //width: 10%;
    font-size: small;
  }
  img {
    margin-left: 25%;
    width: 50%;
    height: 300px;
    
  }
  