<app-header></app-header>

<div class="content" [ngStyle]=" { 'background-color' : darkColor } ">
    <button type="button" id="mode" (click)="darkMode()">{{ isDark }}</button>
    <img id="banniere" src="../assets/LAbecedaire-des-institutions_la-formation-professionnelle.jpg" alt="banniere">
    <router-outlet></router-outlet>
</div>
<!-- <div class="main">

    <div class="nav">
      <app-nav></app-nav>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div> -->
<app-footer></app-footer>
