<h6>Introduction c-sharp-bases</h6>

<div>
    <div>
        Pour développer des programmes informatiques ou créer l'application de vos rêves, vous devez savoir coder dans un langage de programmation. Les programmes informatiques utilisent des données et une logique pour réaliser leurs prouesses. Autrement dit, il faut qu'un programmeur – vous – indique à l'ordinateur ce qu'il doit faire et comment le faire. Mais comment écrire des programmes ? Par où commencer ?

Ce cours est le fruit de la collaboration entre plusieurs développeurs expérimentés. Nous l'avons conçu pour présenter les principes fondamentaux de la programmation orientée objet et vous donner des bases solides en C#, un langage de programmation. Nous examinerons de manière très concrète les notions suivantes :

Structurer et regrouper les informations dans votre programme grâce aux types de données.

Utiliser la logique de programmation pour atteindre vos objectifs.

Gérer les erreurs et faire en sorte que votre application communique.

Écrire du code facile à modifier, à maintenir et à partager.

À la fin de ce cours, vous serez capable d'utiliser toutes ces connaissances pour créer un programme C# complet et fonctionnel.

Prêt à découvrir toute la splendeur du C# ?

Commençons par le premier chapitre !

Objectifs pédagogiques :

Utiliser les données et les types de données en C#.

Maîtriser la logique d'un programme en C# (conditions, boucles, erreurs et communication réseau).

Rédiger un code C# clair et facile à maintenir, à l'aide des méthodes.
    </div>
</div>
<embed class="pdf" src="https://www.orleans-informatique.com/info/cgo/cours/Fiche%20-%20SQL.pdf">