<h5 class="titre">Espace cours: </h5>
<menu type="toolbar">
    <button type="button" routerLink="algorithmie">Algorithmie</button>
    <button type="button" routerLink="analise-modelisation">Analise/mod</button>
    <button type="button" routerLink="sql-declaratif">Sql-declar</button>
    <button type="button" routerLink="sql-procedural">Sql-procéd</button>
    <button type="button" routerLink="ado-linq">ADO-LINQ</button>
    <button type="button" routerLink="c-sharp-bases">C#-bases</button>
    <button type="button" routerLink="c-sharp-OO">C#-OO</button>
    <button type="button" routerLink="web-api">Web-API</button>
    <button type="button" routerLink="asp-mvc">Asp/mvc/mvvm</button>
    <button type="button" routerLink="entity-framework">Entity-fram</button>
    <button type="button" routerLink="blazor">Blazor</button>
    <button type="button" routerLink="java-scrypt">Java-scrypt</button>
    <button type="button" routerLink="html-css">Html-css</button>
    <button type="button" routerLink="cyber-secu">Cyber-sécu</button>
    <button type="button" routerLink="git">Git</button>
    <button type="button" routerLink="azure-deploy">Azure</button>
    <button type="button" routerLink="scrum">Scrum</button>
    <button type="button" routerLink="uml">UML</button>
</menu>
<hr />
<router-outlet></router-outlet>
<!-- <app-chat></app-chat> -->




