<p>editor works!</p>

<!-- <nu-monaco-editor #a [(ngModel)]="value" [model]="model" (event)="showEvent($event)"></nu-monaco-editor>
<button (click)="a.editor.getAction('editor.action.formatDocument').run()">Format document</button> -->
 
<!-- <ckeditor [config]="{placeholder: 'Type the content here!' }" ></ckeditor>
<ckeditor #editor [editor]="Editor"></ckeditor>
<ckeditor [editor]="Editor" (change)="onChange($event)"></ckeditor>
<ckeditor [data]="editorData" ></ckeditor>
<ckeditor [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic' ] }" ></ckeditor>
<ckeditor data="<p>Hello, world!</p>" ></ckeditor> -->