<h6>Introduction analise-modelisation</h6>


<div>
    <div>
        Tout programme informatique, qu'il soit une appli mobile, web, ou un logiciel de bureau, utilise des bases de données. Dans ce cours :

Vous découvrirez tout d'abord le concept de base de données : à quoi ça sert et comment on l'utilise. 

Vous apprendrez à reconnaître les types de données : celles qui sont très structurées, et celles qui le sont moins.

Vous modéliserez une base de données en dessinant votre premier diagramme de classes UML.

Vous découvrirez comment traduire votre diagramme UML en un modèle relationnel. 

Tout au long du cours, vous suivrez ce scénario : vous faites partie d’une équipe de développeurs et développeuses d’une application de Smartphone. L’une des fonctionnalités originales de cette application est qu’elle permettra de vous rendre sur les lieux de tournage de vos films ou séries préférés. Dans votre équipe, vous êtes chargé de réaliser la structure de la base de données. Vos collègues, quant à eux, se chargeront de programmer la partie applicative de l’appli.

Ce cours ne nécessite pas de prérequis. Vous n'apprendrez pas de code informatique ici. Le code SQL sera pour l'étape d'après, si vous choisissez d'approfondir vos connaissances après ce cours.

La modélisation relationnelle est massivement utilisée dans le monde professionnel dès qu'il s'agit de modéliser des données dites structurées. Inscrivez-vous !
    </div>
</div>
<embed class="pdf" src="https://www.orleans-informatique.com/info/cgo/cours/Fiche%20-%20SQL.pdf">